html
{
    background: #d3fced;
}

body{
    background: #d3fced;
}
.bigtext{

    font-size: 30px;
    font-family: Arial;
    font-weight: bolder;
    padding: 60px;
    text-shadow: 1px 0px 2px black;
}
.smalltext{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 1px black;
    padding: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
}
h5{
    font-size: 22px;
    color: rgb(28, 114, 176);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 0px 2px black;
}

.navbar{
    padding: 0px;
    background-color: white;
    border-bottom: solid rgb(141, 140, 140);
    border-width: 1px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), /* Bottom shadow */
    0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link.active h5{
    font-weight: bold;
    color: black;   
}
.ajmallogo{
    width: 180px;
    padding: 0;
}
.iconsize{
    width: 54px;
    height: auto;
}
.iconpadding{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.icontext{
    color: black;
    font-size: 24px;
}

a{
    text-decoration: none;
}

.fitimage{
    height: auto;
    width: 100%;
    object-fit: cover;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer p {
    margin: 0;
    font-size: 12px;
    font-weight: lighter;
    font-family: monospace;
}

/*
Education page
*/
.containerpadding{
    padding: 80px;   
}
.card{
    border: 1px solid rgb(124, 124, 124);
    padding: 0;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), /* Bottom shadow */
    0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-header{
    background-color:rgb(250, 232, 253);
}
.underlinelink{
    text-decoration: underline;
    text-decoration-color:black ;
}
.studyicon{
    width: 70px;
}
.fixedwidth{
    width: 120px;
}
.flexiblewidth{
    flex-grow: 1;
}


 /*
 projects page
 */
.accordion{
    padding: 50px;
}
.projectname{
    font-weight: bold;
    font-size: 26px;
    font-family:'Times New Roman', Times, serif;
}



/*
contact page
*/
.contacticon{
    padding: 20px;
    display: flex;
    flex-direction: row;
      
}
.contacticonitem {
    padding: 25px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.contacticontext{
    color: black;
    padding: 2px;
    font-size: 20px;
}
.ajmalimg{
    width: 200px;
    height: auto;
}


/* Applying the animation */
@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeSlideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade {
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}
.fade-slide {
    opacity: 0;
    transform: translateX(30px); /* Initial state matching the animation start */
    transition: opacity 1.25s ease-out, transform 1.25s ease-out;
}
.fade-slide.animate {
    opacity: 1;
    transform: translateX(0);
}

.fade-slide-left {
    opacity: 0;
    transform: translateX(-30px); /* Initial state matching the animation start */
    transition: opacity 1.25s ease-out, transform 1.25s ease-out;
}
.fade-slide-left.animate {
    opacity: 1;
    transform: translateX(0);
}



/*for small screen*/
@media only screen and (max-width: 540px) {
    .bigtext{
        padding: 5px; 
        font-size: 14px;
    }
    .smalltext{
        padding: 5px; 
        font-size: 10px;
    }
    h5{
        font-size: 14px;
        color: rgb(28, 114, 176);
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 1px 0px 2px black;
    }
    .iconsize{
        width: 22px;
        height: auto;
    }
    .icontext{
        color: black;
        font-size: 12px;
    }
    .iconpadding{
        padding: 5px;
    }
    .ajmallogo{
        width: 140px;
    }

    .containerpadding{
        padding: 15px;   
    }
    
    .accordion{
        padding: 5px;
    }

    .contacticon{
        padding: 5px;
        display: flex;
        flex-direction: row;
          
    }
    .contacticonitem {
        padding: 5px;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .contacticontext{
        color: black;
        padding: 0px;
        font-size: 10px;
    }
    .ajmalimg{
        width: 120px;
        height: auto;
    }
    
}